body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: auto;
}

.header-info {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    box-align: start;

}

.image{
    width: 160 px;
    height: 200px;
    border-radius: 50%;
    justify-content: flex-start;
}

#nilesh{
    text-align: center;
}

#info{
    text-align: center;
    color: grey;
    animation-name: myanimation;
    animation-duration: 10s;
    animation-play-state: running;
    justify-items: center;
}